[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --color-highlight: #7d7d7d;
}

[data-theme="dark"] {
    --color-bg: #000000;
    --color-fg: #ffffff;
    --color-highlight: #3e3e3e;

}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

header {
    background-color: var(--color-bg);
    color: var(--color-fg);
    display: flex;
    font-size: 0.5vw;
    align-content: stretch;
    border-bottom: ridge;
    border-width: 10px;
    /* width: span; */
}
.site-header a {
    text-decoration: inherit;
    color: inherit;
}

.site-name {
    width: 33%;
    height: 10%;
}

 header pre {
    margin-top: 10px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

header button {
    font-size: 0.5vw;
    margin-top: 0;
    padding-top: 0px;
    transition: all var(--global-transition-time) ease-in-out;
    border: none;
    cursor: pointer;
    color: var(--color-fg);
    background-color: var(--color-bg);
    display: flex;
    /* width: 33%; */
    height: 10%;
    /* flex: auto; */
}

header button pre {
    margin-right: 0;
    margin-left: auto;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: "Arial";
    font-size: x-large;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.header {
    font-weight: bolder;
    line-height: 5px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.block {
    border-style: solid;
    border-color: #b33f3f;
}

nav.site-nav {
    display: flex;
    padding-top: 0px;
    flex: auto;
    width: 33%;
    height: 10%;
}

nav.site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.site-nav ul li {
    float: left;
}

nav.site-nav ul li a {
    display: block;
    color: rgb(176, 15, 15);
    text-align: center;
    text-decoration: none;
    padding: 0 0 0 0 ;
}

nav.site-nav ul li a:hover {
    background-color: var(--color-highlight);
    /* border: 0.25rem solid var(--color-fg); */
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}